/* <RadMenu / Vista> */

.RadMenu_Thinkgate_TreeView .rmRootGroup,
.RadMenu_Thinkgate_TreeView .rmFirst,
.RadMenu_Thinkgate_TreeView a.rmLink,
.RadMenu_Thinkgate_TreeView .rmText,
.RadMenu_Thinkgate_TreeView .rmLeftArrow,
.RadMenu_Thinkgate_TreeView .rmRightArrow,
.RadMenu_Thinkgate_TreeView .rmTopArrow,
.RadMenu_Thinkgate_TreeView .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Thinkgate_TreeView .rmRootGroup
{
	border: 1px solid #aabfd6;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #f1f5fb;
}

.RadMenu_Thinkgate_TreeView .rmFirst
{
	background-position: 0 -24px;
}

.RadMenu_Thinkgate_TreeView .rmVertical .rmFirst,
.RadMenu_Thinkgate_TreeView .rmVertical .rmLast
{
	background: none;
	padding: 0;
}

/* <Root items> */

.RadMenu_Thinkgate_TreeView,
.RadMenu_Thinkgate_TreeView a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #4c607a;
	text-decoration: none;
}

.RadMenu_Thinkgate_TreeView a.rmLink,
.RadMenu_Thinkgate_TreeView .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Thinkgate_TreeView a.rmLink:hover,
.RadMenu_Thinkgate_TreeView a.rmFocused,
.RadMenu_Thinkgate_TreeView a.rmSelected
{
	background-position: 0 -72px;
}

.RadMenu_Thinkgate_TreeView a.rmLink:hover .rmText,
.RadMenu_Thinkgate_TreeView a.rmFocused .rmText,
.RadMenu_Thinkgate_TreeView a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Thinkgate_TreeView a.rmExpanded,
.RadMenu_Thinkgate_TreeView a.rmExpanded:hover
{
	background-position: 0 -120px;
}

.RadMenu_Thinkgate_TreeView a.rmExpanded .rmText,
.RadMenu_Thinkgate_TreeView a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Thinkgate_TreeView a.rmDisabled,
.RadMenu_Thinkgate_TreeView a.rmDisabled:hover
{
	color: #a7a7a7;
}

.RadMenu_Thinkgate_TreeView a.rmDisabled:hover,
.RadMenu_Thinkgate_TreeView a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Thinkgate_TreeView .rmGroup,
.RadMenu_Thinkgate_TreeView .rmMultiColumn,
.RadMenu_Thinkgate_TreeView .rmGroup .rmVertical
{
	border: 1px solid #a5b3c5;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Thinkgate_TreeView .rmTopFix,
.RadMenu_Thinkgate_TreeView .rmBottomFix,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Thinkgate_TreeView .rmGroup .rmItem,
* html .rmRoundedCorners_Thinkgate_TreeView ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Thinkgate_TreeView .rmHorizontal .rmItem,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_Thinkgate_TreeView .rmBottomLeft,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners ul.rmGroup,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmMultiColumn
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer,
* html .rmRoundedCorners_Thinkgate_TreeView .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Thinkgate_TreeView ul.rmGroup
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Thinkgate_TreeView .rmTopRight,
.RadMenu_Thinkgate_TreeView .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Thinkgate_TreeView .rmTopFix,
.RadMenu_Thinkgate_TreeView .rmBottomFix,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Thinkgate_TreeView .rmGroup .rmFirst
{
	border-color: #a5b3c5;
}

.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_Thinkgate_TreeView li.rmTopFix,
.RadMenu_Thinkgate_TreeView li.rmBottomFix
{
	background-position: -4px 0;
}

.RadMenu_Thinkgate_TreeView_rtl .rmBottomLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Thinkgate_TreeView_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thinkgate_TreeView .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Thinkgate_TreeView_Context_rtl ul.rmGroup,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Thinkgate_TreeView_rtl .rmTopRight,
.RadMenu_Thinkgate_TreeView_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Thinkgate_TreeView_rtl li.rmTopFix,
.RadMenu_Thinkgate_TreeView_rtl li.rmBottomFix,
.RadMenu_Thinkgate_TreeView_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Thinkgate_TreeView_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Thinkgate_TreeView .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Thinkgate_TreeView_rtl .rmGroup,
.RadMenu_Thinkgate_TreeView_rtl .rmMultiColumn,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Thinkgate_TreeView .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Thinkgate_TreeView .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Thinkgate_TreeView .rmGroup .rmFirst,
.RadMenu_Thinkgate_TreeView .rmGroup .rmLast,
.RadMenu_Thinkgate_TreeView .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Thinkgate_TreeView_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Thinkgate_TreeView .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Thinkgate_TreeView .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmLink
{
	color: #000;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmLink:hover,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmFocused,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmSelected,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmExpanded
{
    color: #4c607a;
	background-position: 0 -168px;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmLink:hover .rmText,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmFocused .rmText,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmSelected .rmText,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Thinkgate_TreeView .rmVertical .rmExpandRight,
.RadMenu_Thinkgate_TreeView_Context .rmGroup .rmExpandRight,
.RadMenu_Thinkgate_TreeView .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Thinkgate_TreeView  .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Thinkgate_TreeView  .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Thinkgate_TreeView  .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Thinkgate_TreeView  .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmDisabled,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmDisabled:hover
{
	color: #a7a7a7;
}

.RadMenu_Thinkgate_TreeView .rmGroup a.rmDisabled:hover,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmDisabled:hover .rmText
{
	background: none;
}

.RadMenu_Thinkgate_TreeView .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Thinkgate_TreeView_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Thinkgate_TreeView_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Thinkgate_TreeView .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Thinkgate_TreeView_rtl a.rmLink:hover,
.RadMenu_Thinkgate_TreeView_rtl a.rmFocused,
.RadMenu_Thinkgate_TreeView_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_Thinkgate_TreeView_rtl a.rmLink:hover .rmText,
.RadMenu_Thinkgate_TreeView_rtl a.rmFocused .rmText,
.RadMenu_Thinkgate_TreeView_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded,
.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded .rmText,
.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmLink:hover,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmFocused,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmSelected,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Thinkgate_TreeView_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Thinkgate_TreeView_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Thinkgate_TreeView_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Thinkgate_TreeView_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vista - specific, overlapping submenus)> */

.RadMenu_Thinkgate_TreeView .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Thinkgate_TreeView .rmVertical .rmSlide,
.RadMenu_Thinkgate_TreeView .rmSlide .rmSlide,
.RadMenu_Thinkgate_TreeView_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Thinkgate_TreeView_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Thinkgate_TreeView_rtl .rmVertical .rmSlide,
.RadMenu_Thinkgate_TreeView_rtl .rmSlide .rmSlide,
.RadMenu_Thinkgate_TreeView_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Thinkgate_TreeView .rmLeftArrow,
.RadMenu_Thinkgate_TreeView .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_Thinkgate_TreeView .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_Thinkgate_TreeView .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_Thinkgate_TreeView .rmTopArrow,
.RadMenu_Thinkgate_TreeView .rmBottomArrow,
.RadMenu_Thinkgate_TreeView .rmGroup .rmLeftArrow,
.RadMenu_Thinkgate_TreeView .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Thinkgate_TreeView .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_Thinkgate_TreeView .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Thinkgate_TreeView .rmVertical .rmSeparator .rmText,
.RadMenu_Thinkgate_TreeView .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Thinkgate_TreeView .rmHorizontal .rmSeparator .rmText,
.RadMenu_Thinkgate_TreeView .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Vista> */
