<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="CompetencyTrackingDetailsStandardPDF.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CompetencyTrackingReportStudentListPDF.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
