<?xml version="1.0"?>
<configuration>

  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Registration.ascx">
	<system.web>
	  <authorization>
		  <allow users="*"/>
	  </authorization>
	</system.web>
  </location>
  
  <location path="ChangePassword.aspx">
	<system.web>
	  <authorization>
		  <allow users="*"/>
	  </authorization>
	</system.web>
  </location>

  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ChgTeacherPasswordAdmin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MyAccount.aspx">
	<system.web>
	  <authorization>
		  <allow users="*"/>
	  </authorization>
	</system.web>
  </location>
  <location path="UserImpersonation.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authorization>
	  <allow roles="Administrator,Super Admin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <location path="Reset.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
