<log4net>
  <appender name="CustomAdoNetAppender" type="Thinkgate.Base.Utilities.CustomAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="" />
    <commandText value="INSERT INTO Log4NetTest ([LogGuid],[LogKey],[UserID],[Date],[Thread],[Level],[Event],[Message],[Exception],[Logger],[Host],[SessionID]) VALUES (@log_guid, @log_key, @user_id, @log_date, @thread, @log_level, @event, @message, @exception, @logger, @host, @session_id)" />
    <parameter>
      <parameterName value="@log_guid" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log_guid}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_key" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log_key}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user_id" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger->%method" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@event" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{event}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@host" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{host}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@session_id" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{session_id}" />
      </layout>
    </parameter>
  </appender>
  <root>
    <appender-ref ref="CustomAdoNetAppender" />
    <level value="INFO"/>
  </root>

  <logger name="Thinkgate.SPs">
    <level value="INFO" />
  </logger>
  
  <!--Just an Example of how to configure logging at different levels-->
  <!--<logger name="Thinkgate.Record.School">
    <level value="DEBUG" />
  </logger>-->

</log4net>