.class1 {font-family:Times;font-size:12pt;}
.class2 {text-align:center;margin-top:0pt;margin-bottom:14pt;}
.class3 {border:none}
.class4 {font-size:14pt; font-family: Helvetica; font-weight: bold;}
.class5 {WIDTH: 261px; HEIGHT: 393px}
.class6 {font-size:12pt; font-family: Times; font-weight: bold;}
.class7 {FONT-FAMILY: Helvetica; FONT-SIZE: 12pt}
.class8 {FONT-FAMILY: Helvetica; FONT-SIZE: 10pt; FONT-WEIGHT: normal}
.class9 {WIDTH: 232px; HEIGHT: 173px}
.class10 {text-transform:uppercase;}
.class11 {font-family:Helvetica;font-size:12pt;}
.class12 {text-align:center;margin-top:0pt;margin-bottom:0pt;}
.class13 {text-align:center;margin-top:0pt;margin-bottom: 14pt;}
.class14 {WIDTH: 161px; HEIGHT: 24px}
.class15 {WIDTH: 184px; HEIGHT: 174px}
.class16 {WIDTH: 315px; HEIGHT: 174px}
.class17 {FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: Helvetica}
.class18 {WIDTH: 86px; HEIGHT: 199px}
.class19 {FONT-SIZE: 11pt; FONT-FAMILY: Helvetica}
.class20 {FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Helvetica}
.class21 {WIDTH: 277px; HEIGHT: 27px}
