<?xml version="1.0"?>
<configuration>
    <location path="StaffIdentification_Edit.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.web>
        <authorization>
            <allow roles="Administrator,Super Admin, District Administrator, Tmanager, Cmanager"/>
            <deny users="*"/>
        </authorization>
    </system.web>
</configuration>
